#
# HTML Snippets.
#

#
# Structure.
#
# Aside.
snippet aside
	<aside>
		${0}
	</aside>

snippet aside.
	<aside class="${1}">
		${0}
	</aside>

snippet aside#
	<aside id="${1}">
		${0}
	</aside>

# Article.
snippet article
	<article>
		${0}
	</article>

snippet article.
	<article class="${1}">
		${0}
	</article>

snippet article#
	<article id="${1}">
		${0}
	</article>

# Div
snippet div
	<div>
		${0}
	</div>

snippet div.
	<div class="${1}">
		${0}
	</div>
