#
# PHP Snippets
#

# Docblock
snippet /*
	/**
	 * ${1}
	 */
	${0}

snippet func
	function ${1} (${2}) {
		${0}
	}

# Conditionals
snippet if
	if (${1:/* condition */}) {
		${0}
	}

snippet ifn
	if (!${1:/* !condition */}) {
		${0}
	}
